config ARCH_NXP2120
	bool "Nexell NXP2120"
	select MACH_NXP2120
	select CPU_NXP2120
	select CPU_V6
	select GPIOLIB
	select ARCH_REQUIRE_GPIOLIB	
	select PINCTRL	
	select USE_OF	
#	select IRQ_DOMAIN_HIERARCHY	
#	select GENERIC_IRQ_CHIP
#	select ARM_AMBA
#	select ARM_GIC
#	select ARM_VIC
#	select HAVE_SMP
#	select MIGHT_HAVE_CACHE_L2X0
	select ARCH_HAS_CPUFREQ
	select GENERIC_TIME
	select GENERIC_CLOCKEVENTS
	select GENERIC_GPIO
	select ARCH_REQUIRE_GPIOLIB
	select ZONE_DMA
	select HAVE_MACH_CLKDEV
#	select NEED_MACH_MEMORY_H
#	select NEED_MACH_IO_H
	select ARM_PATCH_PHYS_VIRT
	help
		Support for nexell nxp2120(ARM1176) platform

config MACH_NXP2120
	bool
	depends on ARCH_NXP2120
#	default n

config CPU_NXP2120
	bool "Nexell's P2120 SOC CPU"
	     depends on ARCH_NXP2120
#        select CPU_V6
#        select GENERIC_TIME
#	select ARCH_WANT_OPTIONAL_GPIOLIB
#	depends on ARCH_NXP2120
#	default n
#    help
#    	Enable NXP2120 CPU support

